---
import Badge from './Badge.astro';

interface Props {
  title: string;
  description: string;
  url: string;
  github: string;
  technologies?: { name: string; color: string }[];
}

const { title, description, url, github, technologies = [] } = Astro.props;
---

<li class="py-2">
  <div class="flex flex-col gap-2">
    <div class="flex items-center justify-between">
      <a
        href={url}
        class="text-lg font-medium hover:text-zinc-300 transition-colors"
      >
        {title}
      </a>
      <a
        href={github}
        class="text-zinc-400 hover:text-zinc-300 transition-colors text-sm"
      >
        repo
      </a>
    </div>
    <p class="text-sm text-zinc-400">{description}</p>
    <div class="flex gap-2 flex-wrap">
      {
        technologies.map((tech) => (
          <Badge text={tech.name} color={tech.color as any} />
        ))
      }
    </div>
  </div>
</li>
