---
import BaseLayout from './baseLayout.astro';
const { frontmatter } = Astro.props;

// TODO: astro image optimaztion
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="max-w-3xl mx-auto py-8 p-4">
    <h1 class="text-6xl font-bold mb-4">{frontmatter.title}</h1>
    <div class="mb-4">
      <small class="mr-2">Author: {frontmatter.author}</small>
      <small
        >Last Modified: {frontmatter.lastModified.toLocaleDateString()}</small
      >
    </div>
    <img
      src={frontmatter.coverImage.url}
      alt={frontmatter.coverImage.alt}
      class="rounded-lg w-full mb-4"
    />
    <slot />
  </div>
</BaseLayout>
