---
import BaseLayout from './baseLayout.astro';
import Prose from '../components/Prose.astro';
const { frontmatter } = Astro.props;

// TODO: astro image optimization
---

<BaseLayout pageTitle={frontmatter.title} class="">
  <div class="flex flex-col items-center px-4 sm:px-6">
    <article class="w-full max-w-2xl py-4">
      <div class="flex flex-col gap-4">
        <header class="mb-8">
          <h1 class="text-4xl sm:text-5xl font-bold tracking-tight">
            {frontmatter.title}
          </h1>
          <h2 class="text-sm text-zinc-400">
            {frontmatter.description}
          </h2>
          <div class="flex flex-wrap gap-4 text-sm py-2">
            <!-- <span>By {frontmatter.author}</span>
          <span>•</span> -->
            <time datetime={frontmatter.publishDate}>
              {
                frontmatter.publishDate.toLocaleDateString('en-US', {
                  year: 'numeric',
                  month: 'short',
                  day: 'numeric',
                })
              }
            </time>
          </div>
        </header>

        {
          frontmatter.coverImage && (
            <img
              src={frontmatter.coverImage.url}
              alt={frontmatter.coverImage.alt}
              class="rounded-lg w-full aspect-[2/1] object-cover mb-8"
            />
          )
        }

        <Prose>
          <slot />
        </Prose>
      </div>
    </article>
  </div>
</BaseLayout>
